<template>
  <v-app>
    <v-layout>
      <v-flex>
        <h4>
          <img alt="Motili" src="../assets/logo.png">{{index.job.headline}}
        </h4>
        <v-expansion-panel class="light-blue first lighten-2">
          <v-expansion-panel-content v-for="(itemLevelOne,i) in index.job" :key="i">
            <div slot="header">
              {{changeCase.titleCase(i)}}
            </div>
            <v-card v-if="itemLevelOne.constructor === Array">
              <v-card-text class=" light-blue">
                <ul class="bonusList">
                  <li v-for="(itemInFirstLevelArray, z) in itemLevelOne" :key="z">
                    {{changeCase.sentenceCase(itemInFirstLevelArray)}}.
                  </li>
                </ul>
              </v-card-text>
            </v-card>
            <v-card v-if="i === 'profile'">
              <v-card-text class="light-blue">
                <div>
                  <profile-chart>
                  </profile-chart>
                </div>
              </v-card-text>
            </v-card>
            <v-card v-if="i === 'bonusPoints'">
              <v-card-text class="light-blue">
                <ul class="bonusList">
                  <li v-for="(bonusItem, b) in itemLevelOne" :key="b">
                    <span>
                      <v-chip class="teal accent-1">
                        {{changeCase.titleCase(b)}}
                      </v-chip>
                      <span class="fix float">
                        <v-chip class="">
                          {{changeCase.titleCase(bonusItem)}}
                        </v-chip>
                      </span>
                    </span>
                  </li>
                </ul>
              </v-card-text>
            </v-card>
            <v-card v-if="i === 'methodology' || i === 'essentials' || i === 'misc' || i === 'equipment' || i === 'specs'">
              <v-card-text class="light-blue">
                <ul class="bonusList small">
                  <li v-for="(methodItem, c) in itemLevelOne" :key="c">
                    <span v-if="typeof methodItem === 'boolean'">
                      <v-chip class="indigo lighten-4">
                        {{changeCase.titleCase(c)}}
                      </v-chip>
                      <span class="float" v-if="methodItem">
                        <v-chip class="green accent-2">
                          <v-icon>done</v-icon>
                        </v-chip>
                      </span>
                      <span class="float" v-else>
                        <v-chip class="red lighten-3">
                          <v-icon>clear</v-icon>
                        </v-chip>
                      </span>
                    </span>
                    <span v-if="typeof methodItem === 'string'">
                      <v-chip class="indigo lighten-4">
                        {{changeCase.titleCase(c)}}
                      </v-chip>
                      <span class="float">
                        <v-chip class="cyan lighten-4">
                          {{changeCase.titleCase(methodItem)}}
                        </v-chip>
                      </span>
                    </span>
                    <span v-if="typeof methodItem === 'number'">
                      <v-chip class="indigo lighten-4">
                        {{changeCase.titleCase(c)}}
                      </v-chip>
                      <span class="float">
                        <v-chip v-if="i === 'essentials'" class="cyan lighten-4">
                          {{methodItem | moment("dddd, MMMM Do YYYY")}}
                        </v-chip>
                        <v-chip v-else class="cyan lighten-4">
                          {{methodItem}}
                        </v-chip>
                      </span>
                    </span>
                    <span v-if="typeof methodItem === 'object'">
                      <v-chip class="indigo lighten-4">
                        {{changeCase.titleCase(c)}}
                      </v-chip>
                    </span>
                    <ul class="bonusList" v-if="methodItem.constructor === Object">
                      <li v-for="(subMiscItem, u) in methodItem">
                        <span><v-chip class="green accent-2">{{u}}</v-chip>
                        <span class="float">
                          <v-chip class="orange lighten-4">
                            {{subMiscItem}}
                          </v-chip>
                        </span>
                      </span>
                        <br>
                      </li>
                    </ul>
                    <ul class="bonusList" v-if="methodItem.constructor === Array">
                      <li v-for="(subMiscItem, u) in methodItem">
                        <span class="float">
                          <v-chip class="orange lighten-4">
                            {{subMiscItem}}
                          </v-chip>
                        </span>
                        <br>
                      </li>
                    </ul>
                  </li>
                </ul>
              </v-card-text>
            </v-card>
            <v-card v-if="itemLevelOne.constructor === Object && i !== 'profile' && i !== 'bonusPoints' && i !== 'methodology' && i !== 'misc' && i !== 'essentials' && i !== 'specs' && i !== 'equipment'">
              <v-card-text class="light-blue">
                <v-expansion-panel>
                  <v-expansion-panel-content v-for="(itemLevelTwo,j) in itemLevelOne" :key="j">
                    <div slot="header" class="two">
                      {{changeCase.titleCase(j)}}
                    </div>
                    <v-card v-if="typeof itemLevelTwo === 'string'|| typeof itemLevelTwo === 'number'">
                      <v-card-text class="light-blue darken-2">
                        <p>
                          <v-chip class="teal accent-1">
                            {{changeCase.titleCase(itemLevelTwo)}}
                          </v-chip>
                        </p>
                      </v-card-text>
                    </v-card>
                    <v-card v-if="typeof itemLevelTwo === 'boolean'">
                      <v-card-text class="light-blue darken-2">
                        <p class="float" v-if="itemLevelTwo">
                          <v-icon>done</v-icon>
                        </p>
                        <p class="float" v-else>
                          <v-icon>clear</v-icon>
                        </p>
                      </v-card-text>
                    </v-card>
                    <v-card v-if="itemLevelTwo.constructor === Array">
                      <v-card-text class="light-blue darken-2">
                        <ul class="bonusList">
                          <li v-for="(itemInSecondLevelArray, y) in itemLevelTwo" :key="y">
                            <v-chip class="indigo lighten-4">
                              {{itemInSecondLevelArray}}
                            </v-chip>
                          </li>
                        </ul>
                      </v-card-text>
                    </v-card>
                    <v-card v-if="j === 'junior' || j === 'seasoned'">
                      <v-card-text class ="light-blue darken-2">
                        <ul class="bonusList">
                          <li v-if="" v-for="(techItem, f) in itemLevelTwo">
                            <span v-if="typeof techItem == 'string'">
                              <v-chip class="light-green accent-1">
                                {{changeCase.titleCase(f)}}
                              </v-chip>
                              <span class="float">
                                <v-chip>
                                  {{changeCase.titleCase(techItem)}}
                                </v-chip>
                              </span>
                            </span>
                            <span v-if="typeof techItem === 'object'">
                              <v-chip class="orange lighten-3">
                                {{changeCase.titleCase(f)}}
                              </v-chip>
                            </span>
                            <ul class="bonusList" v-if="typeof techItem ==  'object'">
                              <li v-for="(subTechItem, p) in techItem">
                                <div>
                                  <span>
                                    <v-chip class="pink lighten-3">
                                      {{changeCase.titleCase(p)}}
                                    </v-chip>
                                  </span>
                                  <ul class="bonusList">
                                    <li v-for="(subSubTechItem, q) in subTechItem">
                                      <span>
                                        <v-chip class="purple lighten-3">
                                          {{changeCase.titleCase(q)}}
                                        </v-chip>
                                        <span class="float">
                                          <v-chip>
                                            {{changeCase.titleCase(subSubTechItem)}}
                                          </v-chip>
                                        </span>
                                      </span>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </v-card-text>
                    </v-card>
                    <v-card v-if="itemLevelTwo.constructor === Object && (j !==  'junior' && j !== 'seasoned')">
                      <v-card-text class="light-blue">
                        <v-expansion-panel >
                          <v-expansion-panel-content v-for="(itemLevelThree, k) in itemLevelTwo" :key="k">
                            <div slot="header">
                              {{changeCase.titleCase(k)}}
                            </div>
                            <v-card v-if="typeof itemLevelThree === 'string' || typeof itemLevelThree === 'number'">
                              <v-card-text class="light-blue darken-1">
                                <p>
                                  <v-chip class="green accent-2">
                                    {{itemLevelThree}}
                                  </v-chip>
                                </p>
                              </v-card-text>
                            </v-card>
                            <v-card v-if="typeof itemLevelThree === 'boolean'">
                              <v-card-text class="light-blue darken-1">
                                <p class="float" v-if="itemLevelThree">
                                  <v-icon>done</v-icon>
                                </p>
                                <p class="float" v-else>
                                  <v-icon>clear</v-icon>
                                </p>
                              </v-card-text>
                            </v-card>
                            <v-card v-if="itemLevelThree.constructor === Array">
                              <v-card-text v-for="(thirdLevelArrayItem, x) in itemLevelThree" :key="x" class="light-blue darken-1">
                                <p>
                                  {{thirdLevelArrayItem}}
                                </p>
                              </v-card-text>
                            </v-card>
                          </v-expansion-panel-content>
                        </v-expansion-panel>
                      </v-card-text>
                    </v-card>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-card-text>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-flex>
    </v-layout>
  </v-app>
</template>

<script>
import ProfileChart from './ProfileChart'
import * as index from '../../static/public/js/index.js'
import changeCase from 'change-case'
var vm

export default {
  name: 'position',
  data: function () {
    return {
      index: index,
      changeCase: changeCase
    }
  },
  components: {
    ProfileChart
  },
  mounted: function () {
    vm = this
    vm.index = index
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
h4 {
  background: #FFFFFF;
  margin-top: 10px;
  padding-right: 15px;
  margin-bottom: 0;
  font-size: 44px;
  line-height: 1.4;
  text-align: right;
  color: #bbbbbb
}

@media only screen and (max-width: 666px) {
  div > h4 {
  font-size: 1.2em !important;
  line-height: 1;
  margin-bottom: 10px
  }
}

.float {
    float: right;
    font-size: inherit !important
}

#app{
  margin: 0px;
}

* p {
  margin-bottom: 0 !important;
}

* {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.application--light:not(.card__text):not(.expansion-panel__header) {
  background: #ffffff;
}

* {
  font-weight: 700 !important;
}
.expansion-panel * {
  color: #ffffff;
}

* {
  box-shadow: none !important;
}

.first > li:first-child {
  display: none;
}

img {
  float: left;
  margin-left: 15px;
}

.icon {
  color: #ffffff !important
}

.bonusList {
  list-style: none;
}


* {
  line-height: 1.4
}

.chip {
  height: 60%;
  margin: 0;
  color: #666666
}

.icon {
  font-size:  1.30em;
  color: #666666 !important
}
.card__text > .bonusList:not(canvas){
  padding-left: 0
}
.flex{
  padding: 0px !important
}
.mo {
  color: #4fc3f7;
  width: 500px
}
canvas {
  max-height: 330px;
  max-width: 330px;
  margin: auto;
}
.flex > ul > li:nth-child(2n+1) {
  background-color: #81d4fa!important
}
</style>
